<!-- header  -->
<section id="header">
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="images/icon.png" alt="" width="80" height="80">
                </a>
                <h2>ARC-SUM</h2>
            </div>
        </nav>
    </header>
</section>
<!-- end header -->