*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.container-1{
    margin: 10%;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  .modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }
  .modal-sheet .modal-footer {
    padding-bottom: 2rem;
  }
  
  .modal-alert .modal-dialog {
    width: 380px;
  }
  
  .modal-tour .modal-dialog {
    width: 380px;
  }